.all-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .all-recipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1rem;
  }
}
