.recipe-info-container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;

  h1 {
    font-family: montserrat, Arial, Helvetica, sans-serif;
  }

  .recipe-meta {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ff5722;
    width: auto;

    .meta {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-right: 2rem;

      svg {
        color: #ff5722;
        font-size: 1.5rem;
        margin-right: 5px;
      }

      h3 {
        font-family: montserrat, Arial, Helvetica, sans-serif;
      }
    }
  }

  .recipe-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .image {
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      margin-top: 2rem;

      @media screen and (max-width: 420px) {
        img {
          width: 90vw;
        }
      }

      p {
        span {
          color: #ff5722;
        }
      }
    }

    .tabs {
      margin: 2rem;
      font-size: 1.1rem;
      font-family: montserrat, Arial, Helvetica, sans-serif;

      .summary {
        font-family: montserrat, Arial, Helvetica, sans-serif;
        font-size: 18px;
        word-wrap: break-word;
        line-height: 1.5rem;
        width: 40vw;

        a {
          color: #ff5722;
        }
      }

      .ingredients {
        list-style: circle;
        width: 40vw;

        li {
          margin-top: 1rem;

          &::marker {
            color: #ff5722;
          }
        }
      }

      .instructions {
        font-family: montserrat, Arial, Helvetica, sans-serif;
        font-size: 18px;
        word-wrap: break-word;
        line-height: 1.5rem;
        width: 40vw;

        li::marker {
          color: #ff5722;
        }
      }

      @media screen and (max-width: 1080px) {
        .summary,
        .ingredients,
        .instructions {
          width: 80vw;
        }
      }
    }

    @media screen and (max-width: 1080px) {
      flex-direction: column;
      width: 80vw;
      justify-content: center;
      align-items: center;
    }
  }
  @media screen and (max-width: 1080px) {
    width: 80vw;
  }
}
