.banner {
  width: 40vw;
  text-decoration: none;
  color: #121212;
  margin-right: 5rem;

  img {
    width: 40vw;
    object-fit: cover;
  }

  h2 {
    text-transform: uppercase;
    color: #ff5722b8;
    font-size: 2rem;
  }

  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
  }

  .author {
    color: #12121230;
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  @media screen and (max-width: 1080px) {
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 4rem;
    border-bottom: 1px solid #ff5722b8;
    padding-bottom: 2rem;

    img {
      width: 80vw;
    }
  }
}
