.banner {
  width: 40vw;
  text-decoration: none;
  color: #121212;
  margin-right: 5rem;

  img {
    width: 40vw;
    // height: 60vh;
    object-fit: cover;
    border-radius: 5px;
  }

  h2 {
    text-transform: uppercase;
    color: #ff5722b8;
    font-size: 2rem;
  }

  h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
  }

  .author {
    color: #12121230;
    font-size: 1.2rem;
    margin: 1rem 0;
  }
}
