.category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;

  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: linear-gradient(35deg, #494949, #313131);
    margin-right: 2rem;
    color: #fff;
    cursor: pointer;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(0.9);
    }

    &.active {
      background: linear-gradient(to left, #ff9800, #ff5722);

      h3 {
        font-weight: bold;
      }
    }

    svg {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 0.8rem;
      font-weight: 400;
    }
  }

  @media screen and (max-width: 1080px) {
    .link {
      margin-right: 1rem;
    }
  }

  @media screen and (max-width: 800px) {
    width: 80vw;
    flex-wrap: wrap;

    .link {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 450px) {
    flex-wrap: wrap;
    width: 90vw;

    .link {
      width: 5rem;
      height: 5rem;
    }
  }
}
