.popular {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  .preview-container {
    width: clamp(15vw, 20vw, 30vw);

    .preview:first-of-type {
      img {
        display: block;
        max-width: clamp(15vw, 20vw, 30vw);
        max-height: 20vw;
        object-fit: none;
        border-radius: 5px;
        object-position: center;

      }
    }

  }
}
