.preview {
  width: clamp(15vw, 20vw, 30vw);
  height: auto;
  margin: 2rem;

  &::after {
    content: "";
    width: auto;
    height: 1px;
    background-color: #12121210;
    display: block;
    align-items: center;
  }

  img {
    display: block;
    max-width: clamp(15vw, 20vw, 30vw);
    max-height: 20vw;
    object-fit: none;
    border-radius: 5px;
    object-position: center;
  }

  h2 {
    text-transform: uppercase;
    color: #ff5722b8;
    font-size: 1rem;
  }

  h3 {
    margin: 0;
    font-weight: 400;
  }

  .author {
    color: #12121230;
    font-size: 1rem;
    margin: 1rem 0;
  }
}
